/**************************
    Navbar
***************************/


/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: none;
    -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}


/* Float the list items side by side */

ul.topnav li {
    float: left;
}


/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of links on hover */

ul.topnav li a:hover {
    background-color: #555;
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {
    display: none;
}


/**************************
    Media Queries
***************************/


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
    ul.topnav li:not(: first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}


.audiImg {
    background-image: url('http://img00.deviantart.net/325d/i/2010/161/7/3/audi_r8_in_dark_by_abaddonvolac.jpg');
    /*position: absolute;*/
    width: 1000px;
    height: 500px;
    /*background-repeat: no-repeat;    */
}


/*Homepage Title*/

#title {
    font-family: 'Audiowide', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.startBtn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.searchForm {
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 5px;
}

.apiImage {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

#about {
    font-family: 'Exo 2', sans-serif;
    background-color: gray;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.companyFont {
    font-family: 'Exo 2', sans-serif;
}

.companyList {
    text-decoration: none;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
}

.modal {
    text-align: center;
}

#parts {
    background-color: #cccccc;
    height: 500px;
}

footer {
    background-color: #333;
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
